<h1>ルーレット</h1>
<p class="result"><%= @user.sample %></p>
<p class="tittle"><%= @content.sample %></p>
<p class="result"><%= @user.sample %></p>
<p class="tittle"><%= @content.sample %></p>
<p class="result"><%= @user.sample %></p>
<p class="tittle"><%= @content.sample %></p>
