<%= form_with model: @user, local: true do |form| %>
  <div>
    <%= form.label :title, "お題" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :content, "内容" %>
    <%= form.text_field :content %>
  </div>
  <div>
    <%= form.label :name, "名前" %>
    <%= form.text_field :name %>
  </div>
<% end %>
